@if (Session["project"] != null && ViewContext.RouteData.Values["Controller"].ToString() != "Project" && ViewContext.RouteData.Values["Controller"].ToString() != "Role" && ViewContext.RouteData.Values["Controller"].ToString() != "Home" && ViewContext.RouteData.Values["Controller"].ToString() != "Master")
{
<section class="custom-timeline">
    <div class="panel panel-body text-center" style="font-size:1.5em;">
        <i class="fa fa-users"></i> - Customer | 
        <i class="fa fa-building-o"></i> - Supplier
    </div>
    <ol>
        <li id="rfq">
            <div>
                RFQ
                <i class="fa fa-users pull-right"></i>
            </div>
        </li>
        <li id="findprices">
            <div>
                Find Price
                <i class="fa fa-building-o pull-right"></i>
            </div>
        </li>
        <li id="penawaran">
            <div>
                Penawaran
                <i class="fa fa-users pull-right"></i>
            </div>
        </li>
        <li id="salesorder">
            <div>
                Sales Order
                <i class="fa fa-users pull-right"></i>
            </div>
        </li>
        <li id="purchaseorder">
            <div>
                Purchase Order
                <i class="fa fa-building-o pull-right"></i>
            </div>
        </li>
        <li id="receiveitem">
            <div>
                Receive Item
                <i class="fa fa-building-o pull-right"></i>
            </div>
        </li>
        <li id="purchaseinvoice">
            <div>
                Purchase Invoice
                <i class="fa fa-building-o pull-right"></i>
            </div>
        </li>
        <li id="purchasepayment">
            <div>
                Purhase Payment
                <i class="fa fa-building-o pull-right"></i>
            </div>
        </li>
        <li id="suratjalan">
            <div>
                Surat Jalan
                <i class="fa fa-users pull-right"></i>
            </div>
        </li>
        <li id="salesinvoice">
            <div>
                Sales Invoice
                <i class="fa fa-users pull-right"></i>
            </div>
        </li>
        <li id="salespayment">
            <div>
                Sales Payment
                <i class="fa fa-users pull-right"></i>
            </div>
        </li>
        <li>
            <div>
                
            </div>
        </li>
    </ol>
</section>
<script>
    $(document).ready(function () {
        (function ($) {
            jQuery.fn.extend({
                getPseudo: function (pseudo, prop) {
                    var props = window.getComputedStyle(
                      $(this).get(0), pseudo
                    ).getPropertyValue(prop);
                    return String(props);
                },
                setPseudo: function (_pseudo, _prop, newprop) {
                    var elem = $(this);
                    var s = $("style");
                    var p = elem.getPseudo(_pseudo, _prop);
                    var r = p !== "" ? new RegExp(p) : false;
                    var selector = $.map(elem, function (val, key) {
                        return [val.tagName
                                , val.id
                                  ? "#" + val.id : null
                                , val.className ? "." + val.className : null]
                    });
                    var _setProp = "\n" + selector.join("")
                      .toLowerCase()
                      .concat(_pseudo)
                      .concat("{")
                      .concat(_prop + ":")
                      .concat(newprop + "};");
                    return ((!!r ? r.test($(s).text()) : r)
                            ? $(s).text(function (index, prop) {
                                return prop.replace(r, newprop)
                            })
                            : $(s).append(_setProp)
                    );
                }
            })
        })(jQuery);

        @{
            <text>document.styleSheets[0].insertRule('#@ViewContext.RouteData.Values["Controller"].ToString().ToLower()::after { border:3px solid ivory; }', 0);</text>
            <text>document.styleSheets[0].cssRules[0].style.border = '3px solid ivory';</text>
            List<String> elements = AdminLTE1.Helpers.GlobalFunction.getId(Convert.ToInt64(Session["project"]), 0);
                foreach (String item in elements)
                {
                    if (AdminLTE1.Helpers.GlobalFunction.is_allowed(Convert.ToInt64(Session["project"]), item) || item == "rfq")
                    {
                        <text>document.styleSheets[0].insertRule('#@item::after { background-color: #F45B69; }', 0);</text>
                        <text>document.styleSheets[0].cssRules[0].style.backgroundColor = '#F45B69';</text>
                    }
                    else
                    {
                        <text>document.styleSheets[0].insertRule('#@item::after { background-color: grey; }', 0);</text>
                        <text>document.styleSheets[0].cssRules[0].style.backgroundColor = 'grey';</text>
                        <text>document.styleSheets[0].insertRule('#@item::after { cursor: default; }', 0);</text>
                        <text>document.styleSheets[0].cssRules[0].style.cursor = 'default';</text>
                    }


                }
                List<String> elements1 = AdminLTE1.Helpers.GlobalFunction.getId(Convert.ToInt64(Session["project"]), 1);
                foreach (String item in elements1)
                {
                        <text>document.styleSheets[0].insertRule('#@item::after { background-color: green; }', 0);</text>
                        <text>document.styleSheets[0].cssRules[0].style.backgroundColor = 'green';</text>
                }
         }


        //for (var i = 0; i < element.length; i++) {
        //    $(element[i]).setPseudo("::after", "content", "'123'");
        //}
    });


    $("#rfq").after().click(function () {
        document.location = "@Url.Action("index", "RFQ")";
    });
    @{
        if (AdminLTE1.Helpers.GlobalFunction.is_allowed(Convert.ToInt64(Session["project"]), "findprices"))
        {
            <text>
    $("#findprices").after().click(function () {
        document.location = "@Url.Action("index", "FindPrices")";
    });
    </text>
        }
        if (AdminLTE1.Helpers.GlobalFunction.is_allowed(Convert.ToInt64(Session["project"]), "penawaran"))
        {
            <text>
    $("#penawaran").after().click(function () {
        document.location = "@Url.Action("index","Penawaran")";
    });
    </text>
        }
        if (AdminLTE1.Helpers.GlobalFunction.is_allowed(Convert.ToInt64(Session["project"]), "salesorder"))
        {
            <text>
    $("#salesorder").after().click(function () {
        document.location = "@Url.Action("index","SalesOrder")";
    });
    </text>
        }
        if (AdminLTE1.Helpers.GlobalFunction.is_allowed(Convert.ToInt64(Session["project"]), "purchaseorder"))
        {
            <text>
    $("#purchaseorder").after().click(function () {
        document.location = "@Url.Action("index","PurchaseOrder")";
    });
    </text>
        }
        if (AdminLTE1.Helpers.GlobalFunction.is_allowed(Convert.ToInt64(Session["project"]), "receiveitem"))
        {
            <text>
    $("#receiveitem").after().click(function () {
        document.location = "@Url.Action("index","ReceiveItem")";
    });
    </text>
        }
        if (AdminLTE1.Helpers.GlobalFunction.is_allowed(Convert.ToInt64(Session["project"]), "purchaseinvoice"))
        {
            <text>
    $("#purchaseinvoice").after().click(function () {
        document.location = "@Url.Action("index","PurchaseInvoice")";
    });
    </text>
        }
        if (AdminLTE1.Helpers.GlobalFunction.is_allowed(Convert.ToInt64(Session["project"]), "purchasepayment"))
        {
            <text>
    $("#purchasepayment").after().click(function () {
        document.location = "@Url.Action("index","PurchasePayment")";
    });
    </text>
        }
        if (AdminLTE1.Helpers.GlobalFunction.is_allowed(Convert.ToInt64(Session["project"]), "suratjalan"))
        {
            <text>
    $("#suratjalan").after().click(function () {
        document.location = "@Url.Action("index","SuratJalan")";
    });
    </text>
        }
        if (AdminLTE1.Helpers.GlobalFunction.is_allowed(Convert.ToInt64(Session["project"]), "salesinvoice"))
        {
            <text>
    $("#salesinvoice").after().click(function () {
        document.location = "@Url.Action("index","SalesInvoice")";
    });
    </text>
        }
        if (AdminLTE1.Helpers.GlobalFunction.is_allowed(Convert.ToInt64(Session["project"]), "salespayment"))
        {
            <text>
    $("#salespayment").after().click(function () {
        document.location = "@Url.Action("index","SalesPayment")";
    });
    </text>
        }
    }
</script>
}