@if (Session["project"]==null && ViewContext.RouteData.Values["Controller"].ToString() != "Home")
{
<section class="custom-timeline">
    <ol>
        <li id="rfq">
            <div >
                RFQ
            </div>
        </li>
        <li id="findPrices">
            <div>
                Find Price
            </div>
        </li>
        <li id="penawaran">
            <div>
                Penawaran
            </div>
        </li>
        <li id="salesOrder">
            <div>
                Sales Order
            </div>
        </li>
        <li id="purchaseOrder">
            <div>
                Purchase Order
            </div>
        </li>
        <li id="receiveItem">
            <div>
                Receive Item
            </div>
        </li>
        <li id="purchaseInvoice">
            <div>
                Purchase Invoice
            </div>
        </li>
        <li id="purchasePayment">
            <div>
                Purhase Payment
            </div>
        </li>
        <li id="deliveryOrder">
            <div>
                Surat Jalan
            </div>
        </li>
        <li id="salesInvoice">
            <div>
                Sales Invoice
            </div>
        </li>
        <li id="salesPayment">
            <div>
                Sales Payment
            </div>
        </li>
        <li>
            <div>
                
            </div>
        </li>
    </ol>
</section>
<script>
    $("#rfq").after().click(function () {
        document.location = "@Url.Action("index","RFQ")";
    });
    $("#findPrices").after().click(function () {
        document.location = "@Url.Action("index","FindPrices")";
    });
    $("#penawaran").after().click(function () {
        document.location = "@Url.Action("index","Penawaran")";
    });
    $("#salesOrder").after().click(function () {
        document.location = "@Url.Action("index","SalesOrder")";
    });
    $("#purchaseOrder").after().click(function () {
        document.location = "@Url.Action("index","PurchaseOrder")";
    });
    $("#receiveItem").after().click(function () {
        document.location = "@Url.Action("index","ReceiveItem")";
    });
    $("#purchaseInvoice").after().click(function () {
        document.location = "@Url.Action("index","PurchaseInvoice")";
    });
    $("#purchasePayment").after().click(function () {
        document.location = "@Url.Action("index","PurchasePayment")";
    });
    $("#deliveryOrder").after().click(function () {
        document.location = "@Url.Action("index","SuratJalan")";
    });
    $("#salesInvoice").after().click(function () {
        document.location = "@Url.Action("index","SalesInvoice")";
    });
    $("#salesPayment").after().click(function () {
        document.location = "@Url.Action("index","SalesPayment")";
    });
</script>
}