@{
    String concat_title = "";
    hpurchaseinvoice hpi = null;
    purchasepayment pp = null;
    System.Globalization.CultureInfo indonesia = new System.Globalization.CultureInfo("id-ID");
    using (var db = new dbsmsEntities())
    {
        try
        {
            concat_title = db.projects.Find(Convert.ToInt64(Session["project"] ?? 0)).name;
            pp = db.purchasepayments.Find(Convert.ToInt64(Request.QueryString["id"]));
            hpi = pp.hpurchaseinvoice;
        }
        catch { }
        @*<div class="row" style="margin-bottom:10px;">
            <div class="col-xs-12 col-md-12 col-lg-12 animated fadeInRight">
                <div class="ibox-content">
                    <div class="row">
                        <button class="pull-right btn btn-default" style="margin-right:15px">Print</button>
                        <button class="pull-right btn btn-success" style="margin-right:15px">Edit</button>
                    </div>
                </div>
            </div>
        </div>*@

        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12 animated fadeInRight">
                <div class="ibox-content p-xl">
                    <div class="row">
                        <div class="col-sm-6">
                            <h5>Vendor:</h5>
                            <address>
                                <strong>@hpi.supplier.name</strong><br>
                                @hpi.supplier.address<br>
                                @hpi.supplier.city<br>
                                <abbr title="Phone">P:</abbr> @hpi.supplier.phone
                            </address>
                            @*<h5>Ship To:</h5>
                                <address>
                                    @Html.Raw(hpi.to.Replace("\n", "<br>"))
                                </address>*@
                        </div>
                        <div class="col-sm-6 text-right">
                            <h1 class="text-navy">Purchase Payment</h1>
                            <br />
                            <span></span>
                            <address>
                                <strong>UD Sarana Mitra Sinergi</strong><br>
                                Jl. Gayungsari I/30<br>
                                Surabaya, Jawa Timur 60235<br>
                                @*<abbr title="Phone">P:</abbr> (120) 9000-4321*@
                            </address>
                            <p>
                                <span><strong>Payment Date:</strong> @pp.date.ToString("dd MMMM yyyy")</span>
                            </p>
                            <p>
                                <span><strong>Payment Type:</strong> @pp.type</span>
                            </p>
                        </div>
                    </div>
                    <div class="table-responsive m-t">
                        <table class="table invoice-table table-bordered">
                            <thead>
                                <tr>
                                    <th style="text-align:center">Invoice No.</th>
                                    <th style="text-align:center">Date</th>
                                    <th style="text-align:center">Payment Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                        <tr>
                                            <td>@hpi.number</td>
                                            <td style="text-align:left">@pp.date.ToString("dd MMMM yyyy")</td>
                                            <td>@pp.total.ToString("C2",indonesia)</td>
                                        </tr>
                                }
                            </tbody>
                        </table>
                    </div><!-- /table-responsive -->
                    <div class="well col-md-6">
                        <strong>Note: <br /></strong>
                        @pp.note
                    </div>
                    <table class="table invoice-total">
                        <tbody>
                            <tr>
                                <td><strong>Total Payment :</strong></td>
                                <td>@pp.total.ToString("C2", indonesia)</td>
                            </tr>
                            @*<tr>
                                <td><strong>Discount :</strong></td>
                                <td>@hpi.diskon.ToString("C2", indonesia)</td>
                            </tr>
                            <tr>
                                <td><strong>Remaining Payment :</strong></td>
                                <td>@hpi.grandtotal.ToString("C2", indonesia)</td>
                            </tr>*@
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
                                    }
                                    ViewBag.Title = "Purchase Payment - " + concat_title ?? "";
}
<script type="text/javascript">
    $(document).ready(function () {
        var t = $("#myTable").DataTable();
        t.columns.adjust().draw();
    });
</script>