@{
    String concat_title = "";
    hsalesinvoice hsi = null;
    List<dsalesinvoice> dsi = null;
    System.Globalization.CultureInfo indonesia = new System.Globalization.CultureInfo("id-ID");
    using (var db = new dbsmsEntities())
    {
        try
        {
            concat_title = db.projects.Find(Convert.ToInt64(Session["project"] ?? 0)).name;
            hsi = db.hsalesinvoices.Find(Convert.ToInt64(Request.QueryString["id"]));
            dsi = hsi.dsalesinvoices.ToList();
        }
        catch { }
        <div class="row" style="margin-bottom:10px;">
            <div class="col-xs-12 col-md-12 col-lg-12 animated fadeInRight">
                <div class="ibox-content">
                    <div class="row">
                        <button class="pull-right btn btn-danger" style="margin-right:2%" id="btn_delete">Delete</button>
                        <button class="pull-right btn btn-default" style="margin-right:15px">Print</button>
                        <button class="pull-right btn btn-success" style="margin-right:15px">Edit</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12 animated fadeInRight">
                <div class="ibox-content p-xl">
                    <div class="row">
                        <div class="col-sm-6">
                            <h5>Bill To:</h5>
                            <address>
                                <strong>@hsi.customer.name</strong><br>
                                @hsi.customer.address<br>
                                @hsi.customer.city<br>
                                <abbr title="Phone">P:</abbr> @hsi.customer.phone
                            </address>
                            @*<h5>Ship To:</h5>
                                <address>
                                    @Html.Raw(hsi.to.Replace("\n", "<br>"))
                                </address>*@
                        </div>
                        <div class="col-sm-6 text-right">
                            <h1 class="text-navy">Sales Invoice</h1>
                            <br />
                            <span></span>
                            <address>
                                <strong>UD Sarana Mitra Sinergi</strong><br>
                                Jl. Gayungsari I/30<br>
                                Surabaya, Jawa Timur 60235<br>
                                @*<abbr title="Phone">P:</abbr> (120) 9000-4321*@
                            </address>
                            <p>
                                <span><strong>Invoice Number:</strong> @hsi.number</span>
                            </p>
                            <p>
                                <span><strong>Invoice Date:</strong> @hsi.date.ToString("dd MMM yyyy")</span>
                            </p>
                            <p>
                                <span><strong>Terms:</strong> @hsi.terms</span>
                            </p>
                        </div>
                    </div>
                    <div class="table-responsive m-t">
                        <table class="table invoice-table table-bordered">
                            <thead>
                                <tr>
                                    <th style="text-align:center">Item</th>
                                    <th style="text-align:center">Description</th>
                                    <th style="text-align:center">Qty</th>
                                    <th style="text-align:center">Unit Price</th>
                                    <th style="text-align:center">Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (dsalesinvoice item in dsi)
                                    {
                                        <tr>
                                            <td>@item.item_category.name</td>
                                            <td style="text-align:left">@item.itemdescription</td>
                                            <td>@item.qty</td>
                                            <td>@item.unitprice.ToString("C2", indonesia)</td>
                                            <td>@((item.qty * item.unitprice).ToString("C2", indonesia))</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div><!-- /table-responsive -->
                    <div class="well col-md-6">
                        <strong>Description: <br /></strong>
                        @hsi.description
                    </div>
                    <table class="table invoice-total">
                        <tbody>
                            @if (!hsi.description.Contains("Down payment untuk SO :"))
                            {
                                <tr>
                                    <td><strong>Total :</strong></td>
                                    <td>@((hsi.total + hsi.project.hsalesorders.First().dp).ToString("C2", indonesia))</td>
                                </tr>
                                <tr>
                                    <td><strong>Down Payment :</strong></td>
                                    <td>@(hsi.project.hsalesorders.First().dp.ToString("C2", indonesia))</td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td><strong>Total :</strong></td>
                                    <td>@(hsi.total.ToString("C2", indonesia))</td>
                                </tr>
                            }
                            <tr>
                                <td><strong>Discount :</strong></td>
                                <td>@hsi.diskon.ToString("C2", indonesia)</td>
                            </tr>
                            <tr>
                                <td><strong>Remaining Payment :</strong></td>
                                <td>@hsi.grandtotal.ToString("C2", indonesia)</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
                                    }
                                    ViewBag.Title = "Sales invoice - " + concat_title ?? "";
}
<script type="text/javascript">
    $(document).ready(function () {
        var t = $("#myTable").DataTable();
        t.columns.adjust().draw();
        $("#btn_delete").click(function(){
            var id = @Request.QueryString["id"];
            swal({
                title: "Are you sure want to delete it?",
                text: "You can't restore it later",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "danger",
                confirmButtonText: "Yes, Delete It!",
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("delete_it","SalesInvoice")",
                    data: { id:id },
                success: function (data) {
                    if(data == "success"){
                        swal({
                            title: "Deleted!",
                            text: "Your data has been deleted.",
                            type: "success"
                        }, function () {
                            window.location = "@Url.Action("Index", "SalesInvoice")";
                        });
                    }
                    else{
                        swal("Failed!", "Something went wrong!", "error");
                    }
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                }
            });
        });
    });
    });
</script>