@{
    String concat_title = "";
    using (var db = new dbsmsEntities())
    {
        try
        {
            concat_title = db.projects.Find(Convert.ToInt64(Session["project"] ?? 0)).name;
        }
        catch { }
        ViewBag.Title = "Purchase Invoice - " + concat_title ?? "";
        hpurchaseinvoice hpi;
        List<dpurchaseinvoice> dpi;
        Int64 projid = Convert.ToInt64(Session["project"]);
        System.Globalization.CultureInfo indonesia = new System.Globalization.CultureInfo("id-ID");
        if (Request.QueryString["id"] != null)
        {
            ViewBag.Title += " (" + db.hpurchaseinvoices.Find(Convert.ToInt64(Request.QueryString["id"])).number + ")";
            hpi = db.hpurchaseinvoices.Find(Convert.ToInt64(Request.QueryString["id"]));
            dpi = hpi.dpurchaseinvoices.ToList();
        }
<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="box box-default panel-body">
            <div class="modal inmodal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cancel</span></button>
                            <h4 class="modal-title">Add Item</h4>
                            <small class="font-bold"></small>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Item : </label>
                                <select class="form-control" id="listitem" style="width:100%">
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Description : </label>
                                <textarea class="form-control" disabled id="listitemdesc"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Qty : </label>
                                <input type="number" min="1" class="form-control"  id="itemqty"/>
                            </div>
                            <div class="form-group">
                                <label>Unit Price : </label>
                                <div class="input-group">
                                    <span class="input-group-addon">Rp</span>
                                    <input type="number" min="0" step="100" class="form-control" id="itemunitprice"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Sub Total : </label>
                                <div class="input-group">
                                    <span class="input-group-addon">Rp</span>
                                    <input type="number" min="0" class="form-control" disabled  id="itemsubtotal"/>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-white" data-dismiss="modal" id="btn_cancel_item">Cancel</button>
                            <button type="button" class="btn btn-primary" id="btn_save_item">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
            <form>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="InvoiceNo">Invoice No: </label>
                        <input name="InvoiceNo" type="text" class="form-control" id="invoiceno" />
                    </div>
                    <div class="form-group  col-md-6">
                        <label>Invoice Date : </label>
                        <input type="date" class="form-control" id="invoicedate" />
                    </div>
                    <div class="form-group col-md-12">
                        <label>PONumber : </label>
                        <select class="form-control" id="ponumber">
                            @{
                                foreach (hpo item in db.hpoes.Where(x => x.projectid == projid && x.status >= 1))
                                {
                                    String s = "";
                                    foreach (dpo dpo_ in item.dpoes)
                                    {
                                        s += dpo_.id + "ï" + dpo_.itemcategoryid + "ï" + dpo_.item_category.name + "ï" + dpo_.itemdescription + "ï" + dpo_.qty + "ï" + dpo_.unitprice + "ø";
                                    }
                                    <option value="@item.id" desc="@(item.supplier.name+"\n"+item.supplier.address+"\n"+item.supplier.city+"\n"+item.supplier.phone)" items="@s" dp="@item.dp">@item.number</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Vendor : </label>
                        <textarea class="form-control" readonly rows="5" id="vendor"></textarea>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Description : </label>
                        <textarea class="form-control" rows="5" id="desc"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <center><h3>Detail Purchase Invoice</h3></center>
                        <hr />
                        <table id="myTable" class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center hidden">Id</th>
                                    <th class="text-center hidden">CatId</th>
                                    <th class="text-center col-md-2">Item</th>
                                    <th class="text-center col-md-3">Description</th>
                                    <th class="text-center col-md-1">Qty</th>
                                    <th class="text-center hidden">RealUnitPrice</th>
                                    <th class="text-center col-md-2">Unit Price</th>
                                    <th class="text-center hidden">Real Sub Total</th>
                                    <th class="text-center col-md-2">Sub Total</th>
                                    <th class="text-center col-md-2">Action</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th colspan="4" style="text-align:right">Total Order:</th>
                                    <th colspan="2">Rp<span id="total1"></span>,00</th>
                                    </tr>
                                <tr>
                                    <th colspan="4" style="text-align:right">Grand Total:</th>
                                    <th colspan="2">Rp<span id="dp">0</span>,00</th>
                                </tr>
                                <tr>
                                    <th colspan="4" style="text-align:right">Discount:</th>
                                    <th colspan="2"><input class="text-left" type="number" value="0" min="0" step="100" id="discount"  onchange="calculateAgain()" onkeyup="calculateAgain()"/></th>
                                </tr>
                                <tr>
                                    <th colspan="4" style="text-align:right">Grand Total:</th>
                                    <th colspan="2">Rp<span id="total2"></span>,00</th>
                                </tr>
                            </tfoot>
                            <tbody>
                            </tbody>
                        </table>
                        <button type="button" class="btn btn-warning btn-primary pull-right" data-toggle="modal" data-target="#myModal" id="btn_add">Add Item</button>
                    </div>
                    <div class="col-md-12">
                        <br/>
                        <button type="button" class="btn btn-lg btn-success pull-right" style="margin-left:10px;" id="btn_save">Save</button>
                        <a href="@Url.Action("Index","PurchaseInvoice")"><button class="btn btn-lg btn-default pull-right">Cancel</button></a>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

<script type="text/javascript">
    function init() {
        var valuenya = $("#ponumber").val();
        var descnya = $("#ponumber option[value=" + valuenya + "]").attr("desc");
        var itemnya = $("#ponumber option[value=" + valuenya + "]").attr("items");
        var dpnya = $("#ponumber option[value=" + valuenya + "]").attr("dp");
        $("#vendor").val(descnya);
        var baris = itemnya.split("ø");
        $("#listitem").html("");
        for (var i = 0; i < baris.length - 1; i++) {
            // s += dpo_.id + "ï" + dpo_.itemcategoryid + "ï" + dpo_.item_category.name + "ï" + dpo_.itemdescription + "ï" + dpo_.qty + + "ï" + dpo_.unitprice + "ø";
            var kolom = baris[i].split("ï");
            var elem = "<option value='" + kolom[0] + "' itemcatid='" + kolom[1] + "' itemcatname='" + kolom[2] + "' itemdesc='" + kolom[3] + "' qtynya='" + kolom[4] + "' unitpricenya='"+kolom[5]+"' >";
            elem += kolom[2] + " - " + kolom[3];
            elem += "</option>";
            $("#listitem").append(elem);
        }
        $("#listitemdesc").val($("#listitem option[value=" + $("#listitem").val() + "]").attr("itemdesc"));
        $("#itemqty").val($("#listitem option[value=" + $("#listitem").val() + "]").attr("qtynya"));
        $("#itemunitprice").val($("#listitem option[value=" + $("#listitem").val() + "]").attr("unitpricenya"));
        $("#dp").html(dpnya.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "."));
        calculateAgain();
    }
    function hitungulang() {
        var qtynya = $("#itemqty").val();
        var unitpricenya = $("#itemunitprice").val();
        var subtotal = qtynya * unitpricenya;
        $("#itemsubtotal").val(subtotal);
    }
    function calculateAgain() {
        var elements = $(".subtotal");
        var total = 0;
        for (var i = 0; i < elements.length; i++) {
            total += parseInt($(elements[i]).html());
        }
        $("#total1").html(total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "."));
        var disc = $("#discount").val();
        var dp = $("#dp").html().toString().replace(/\./g, "");
        total -= disc;
        total -= dp;
        $("#total2").html(total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "."));
    }
    $(document).ready(function () {
        var barisklik = "";
        var t = $('#myTable').DataTable({
            "bPaginate": false
        });
        init();
        calculateAgain();
        Date.prototype.toDateInputValue = (function () {
            var local = new Date(this);
            local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
            return local.toJSON().slice(0, 10);
        });
        $('#invoicedate').val(new Date().toDateInputValue());
        $("#ponumber").change(function () {
            init();
            t.clear().draw();
        });
        $("#listitem").change(function () {
            $("#listitemdesc").val($("#listitem option[value=" + $("#listitem").val() + "]").attr("itemdesc"));
            $("#itemqty").val($("#listitem option[value=" + $("#listitem").val() + "]").attr("qtynya"));
            $("#itemunitprice").val($("#listitem option[value=" + $("#listitem").val() + "]").attr("unitpricenya"));
        });
        $('#btn_add').click(function () {
            $('#myModal h4').html('Add Item');
            $("#listitem").val($("#listitem").children().eq(0).val()).trigger("change");
            hitungulang();
        });
        $("#btn_save_item").click(function () {
            if (barisklik == "") {
                var id = $("#listitem option[value=" + $("#listitem").val() + "]").val();
                var catid = $("#listitem option[value=" + $("#listitem").val() + "]").attr("itemcatid");
                var catname = $("#listitem option[value=" + $("#listitem").val() + "]").attr("itemcatname");
                var itemdesc = $("#listitem option[value=" + $("#listitem").val() + "]").attr("itemdesc");
                var qtynya = $("#itemqty").val();
                var unitpricenya = $("#itemunitprice").val();
                var subtotal = qtynya * unitpricenya;
                var h = t.row.add([id, catid, catname, itemdesc, qtynya, unitpricenya, "Rp" + unitpricenya.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") + ",00",subtotal, "Rp" + subtotal.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") + ",00", "<button type='button' class='btn btn-info col-md-3 edititem' data-toggle='modal' data-target='#myModal' style='margin-right:5px'>Edit</button><button type='button' class='btn btn-danger col-md-4 deleteitem'>Delete</button>"]).draw(false);
                t.rows().every(function (rowIdx, tableLoop, rowLoop) {
                    $(this.node().cells[0]).addClass("hidden");
                    $(this.node().cells[1]).addClass("hidden");
                    $(this.node().cells[5]).addClass("hidden");
                    $(this.node().cells[4]).addClass("text-right");
                    $(this.node().cells[6]).addClass("text-right");
                    $(this.node().cells[7]).addClass("hidden");
                    $(this.node().cells[7]).addClass("subtotal");
                    $(this.node().cells[8]).addClass("text-right");
                    $(this.node().cells[9]).addClass("text-center");
                });
            }
            else {
                var id = $("#listitem option[value=" + $("#listitem").val() + "]").val();
                var catid = $("#listitem option[value=" + $("#listitem").val() + "]").attr("itemcatid");
                var catname = $("#listitem option[value=" + $("#listitem").val() + "]").attr("itemcatname");
                var itemdesc = $("#listitem option[value=" + $("#listitem").val() + "]").attr("itemdesc");
                var qtynya = $("#itemqty").val();
                var unitpricenya = $("#itemunitprice").val();
                var subtotal = qtynya * unitpricenya;
                $(barisklik).children().eq(0).html(id);
                $(barisklik).children().eq(1).html(catid);
                $(barisklik).children().eq(2).html(catname);
                $(barisklik).children().eq(3).html(itemdesc);
                $(barisklik).children().eq(4).html(qtynya);
                $(barisklik).children().eq(5).html(unitpricenya);
                $(barisklik).children().eq(6).html("Rp" + unitpricenya.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") + ",00");
                $(barisklik).children().eq(7).html(subtotal);
                $(barisklik).children().eq(8).html("Rp" + subtotal.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") + ",00");
            }
            calculateAgain();
            $("#btn_cancel_item").click();
        });
        $('#myTable tbody').on('click', ".deleteitem", function () {
            t.row($(this).parents('tr')).remove().draw();
            calculateAgain();
        });
        $('#myTable tbody').on('click', ".edititem", function () {
            $('#myModal h4').html('Edit Item');
            var idnya = $(this).parent().parent().children().eq(0).html();
            var qtynya = $(this).parent().parent().children().eq(4).html();
            var unitpricenya = $(this).parent().parent().children().eq(5).html();
            $("#listitem").val(idnya).trigger("change");
            $("#itemqty").val(qtynya);
            $("#itemunitprice").val(unitpricenya);
            hitungulang();
            barisklik = $(this).parent().parent();
        });
        $("#btn_cancel_item").click(function () {
            barisklik = "";
        });
        $("#itemqty").change(function () {
            hitungulang();
        });
        $("#itemunitprice").change(function () {
            hitungulang();
        });
        $("#itemqty").keydown(function () {
            hitungulang();
        });
        $("#itemunitprice").keydown(function () {
            hitungulang();
        });
        $('#btn_save').click(function() {
            //header
            @if (Session["project"] != null) {
                <text>
                var pino = $("#invoiceno").val();
                var pidate = $("#invoicedate").val();
                var poid = $("#ponumber").val();
                var desc = $("#desc").val();
                var disc = $("#discount").val();
                var elements = $("#myTable tbody tr");
                if($(elements).children().length > 1){
                    var detail = "";
                    for(var i=0;i<elements.length;i++){
                        var itemcatid = $(elements[i]).children().eq(1).html();
                        var itemdescription = $(elements[i]).children().eq(3).html();
                        var qty = $(elements[i]).children().eq(4).html();
                        var unitprice = $(elements[i]).children().eq(5).html();
                        detail += itemcatid + "Ё" + itemdescription + "Ё" + qty + "Ё" + unitprice;
                        detail += "ѥ";
                    }
                    swal({
                        title: "Are you sure to save it?",
                        text: "You can't edit it later",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "success",
                        confirmButtonText: "Yes, Save It!",
                        closeOnConfirm: false
                    }, function () {
                        $.ajax({
                            type: "POST",
                            url: "@Url.Action("save_it","PurchaseInvoice")",
                            data: { pino: pino, pidate: pidate, poid: poid, disc:disc, desc: desc, detail: detail },
                        success: function (data) {
                            if(data == "success"){
                                swal({
                                    title: "Saved!",
                                    text: "Your data has been saved.",
                                    type: "success"
                                }, function () {
                                    window.location = '@Url.Action("Index","PurchaseInvoice")';
                                });
                            }
                            else{
                                swal("Failed!", "Something went wrong!", "error");
                            }
                        },
                        error: function (xhr, status, error) {
                            alert(xhr.responseText);
                        }
                    });
                });
            }
            else{
                swal("Failed!", "Detail must not be empty", "error");
            }
            </text>
        }
        });
    });
</script>
    }
}