@{
    ViewBag.Title = "Master User";
    //ViewBag.Description = "List Page";
}

<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="box box-default panel-body">
            <div class="modal inmodal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cancel</span></button>
                            <h4 class="modal-title"></h4>
                            <small class="font-bold"></small>
                        </div>
                        <form method="POST">
                            <input name="userId" type="hidden" class="form-control" id="userId" />
                            <div class="modal-body">
                                <div class="form-group">
                                    <label>Full Name : </label>
                                    <input name="userName" type="text" class="form-control" id="userName" required />
                                </div>
                                <div class="form-group">
                                    <label>Username: </label>
                                    <input name="userUserName" type="text" class="form-control" id="userUserName" required />
                                </div>
                                <div class="form-group">
                                    <label>User Description : </label>
                                    <textarea name="userDesc" class="form-control" id="userDesc"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="canceluseradd" class="btn btn-white" data-dismiss="modal">Cancel</button>
                                <button type="submit" id="saveuseradd" class="btn btn-primary">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal inmodal fade" id="myModal1" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cancel</span></button>
                            <h4 class="modal-title">Assign Role</h4>
                            <small class="font-bold"></small>
                        </div>
                        <input name="userId1" type="hidden" class="form-control" id="userId1" />
                        <div class="modal-body" id="modalbody1">
                           


                            <form id="form" action="#" class="wizard-big">
                                <select class="form-control dual_select" multiple style="display:none">
                                    @{
                                        using (var db = new dbsmsEntities())
                                        {
                                            List<role> data = (from r in db.roles
                                                               select r).ToList();
                                            foreach (role item in data)
                                            {
                                                string idtemp = "id" + item.id;
                                                <option class="optionid" id="@idtemp" value="@item.id">@item.name</option>
                                            }
                                        }
                                    }
                                </select>
                            </form>





                        </div>
                        <div class="modal-footer">
                            <button type="button" id="cancelRole" class="btn btn-white" data-dismiss="modal">Cancel</button>
                            <button type="button" id="saveRole" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="col-md-1">
                            NO
                        </th>
                        <th class="col-md-1 hidden">
                            ID
                        </th>
                        <th class="col-md-2">
                            NAME
                        </th>
                        <th class="col-md-2">
                            USERNAME
                        </th>
                        <th class="col-md-4">
                            DESCRIPTION
                        </th>
@if (AdminLTE1.Helpers.GlobalFunction.has_privilege(Session["user"].ToString(), "update and delete", "master_user"))
{
                        <th class="col-md-3"></th>
}
                    </tr>
                </thead>
                <tbody>
                    @{
                        using (var db = new dbsmsEntities())
                        {
                            List<user> Model = (from ik in db.users
                                                where ik.status == 1
                                                select ik).ToList();

                            int i = 0;
                            foreach (user item in Model)
                            {
                                <tr>
                                    <td>
                                        @{i++;}
                                        @i
                                    </td>
                                    <td class="hidden">
                                        @item.id
                                    </td>
                                    <td>
                                        @item.name
                                    </td>
                                    <td>
                                        @item.username
                                    </td>
                                    <td>
                                        @item.description
                                    </td>
@if (AdminLTE1.Helpers.GlobalFunction.has_privilege(Session["user"].ToString(), "update and delete", "master_user"))
{
                                    <td class="text-center">
                                        <button class="btn btn-github btn_reset" style="margin-right:10px;">Reset Password</button>
                                        <button type="button" class="btn btn-info assignRole" style="margin-right:10px;" data-toggle="modal" data-target="#myModal1">Assign Role</button>
                                        <button class="btn btn-success btn_edit" style="margin-right:10px;" data-toggle="modal" data-target="#myModal">Edit</button>
                                        <button class="btn btn-danger btn_delete">Delete</button>
                                    </td>
}
                                </tr>
                                                }
                                            }
                    }
                </tbody>
            </table>
@if (AdminLTE1.Helpers.GlobalFunction.has_privilege(Session["user"].ToString(), "insert", "master_user"))
{
            <button class="btn btn-primary pull-right" id="btn_add" data-toggle="modal" data-target="#myModal">Add New User</button>
}
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        @if (!String.IsNullOrEmpty(ViewBag.success))
        {
                <text>swal("Success!", "@ViewBag.success", "success");</text>
        }
        $(".btn_delete").click(function () {
            var obj = $(this).parent().parent().children().eq(1).html().trim();
            swal({
                title: "Are you sure to delete it?",
                text: "You can't edit it later",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "danger",
                confirmButtonText: "Yes, Delete It!",
                closeOnConfirm: false
            }, function () {
                @{ string temp = Path.GetDirectoryName(HttpContext.Current.Request.Url.OriginalString);}
                var temp = '@temp';
                temp = temp.replace('\\', '/');
                temp = temp.replace(':/', '://');
                window.location = '/Master/delete_user?userId=' + obj;
            });

        });
        $(".btn_reset").click(function () {
            var obj = $(this).parent().parent().children().eq(1).html().trim();
            var nama = $(this).parent().parent().children().eq(2).html().trim();
            swal({
                title: "Are you sure to reset " + nama + "'s password ?",
                text: "You can't edit it later",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "danger",
                confirmButtonText: "Yes, Reset It!",
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("reset_pass","Master")",
                    data: { userid: obj },
                success: function (data) {
                    swal("Success!", nama + "'s Password has been resetted", "success");
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                }
            });
            });

        });
        $('.btn_edit').click(function () {
            $('#myModal h4').html('Edit User');
            var obj = $(this).parent().parent();
			$('#myModal #userId').val(obj.children().eq(1).html().trim());
			$('#myModal #userName').val(obj.children().eq(2).html().trim());
			$('#myModal #userUserName').val(obj.children().eq(3).html().trim());
            $('#myModal #userDesc').val(obj.children().eq(4).html().trim());
        });
        $('#btn_add').click(function () {
            $('#myModal h4').html('Add User');
            $('#myModal #userId').val("");
            $('#myModal #userName').val("");
            $('#myModal #userUserName').val("");
            $('#myModal #userDesc').val("");
        });
        $(".assignRole").click(function () {
            var userid = $(this).parent().parent().children().eq(1).html().trim();
            $("#userId1").val(userid);
            $.ajax({
                    type: "GET",
                    url: "@Url.Action("getRole", "Master")",
                data: { userid: userid },
                success: function (data) {
                    hasil = data.split('|');

                    var ele = "<form id='form' action='#' class='wizard-big'>";
                    ele +=    " <select class='form-control dual_select' multiple style='display:none'>";
                    @{
                                using (var db = new dbsmsEntities())
                                {
                                    List<role> data = (from r in db.roles
                                                       select r).ToList();
                                    foreach (role item in data)
                                    {
                                        string idtemp = "id" + item.id;
                                    <text>ele += "<option class='optionid' id='@idtemp' value='@item.id'>@item.name</option>";</text>
                                }
                            }
                        }
                    ele+="</select>";
                    ele+="</form>";
                    $("#modalbody1").html("");
                    $("#modalbody1").html(ele);


                    $(".optionid").removeAttr("selected");
                    for (var i = 0; i < hasil.length-1; i++) {
                        $("#id"+hasil[i]).attr("selected", true);
                    }



                    $('.tagsinput').tagsinput({
                        tagClass: 'label label-primary'
                    });
                    $('.dual_select').bootstrapDualListbox({
                        selectorMinimalHeight: 160
                    });
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                }
            });
        });
        $(".select2").css("display","none");


        $("table").DataTable();
        $("#saveRole").click(function () {
            var params = "";
            var selectedlist = $("#bootstrap-duallistbox-selected-list_").children();
            for (var i = 0; i < selectedlist.size(); i++) {
                params += $(selectedlist[i]).val() + "|";
            }
            var roleId = $(this).parent().parent().children().eq(1).html().trim();
            var hasil = "";
            $.ajax({
                    type: "GET",
                    url: "@Url.Action("save_role","Master")",
                    data: { param: params, userid: $("#userId1").val() },
                success: function (data) {
                    $("#cancelRole").click();
                    swal("Success!", "The User Role has been updated", "success");
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                }
            });
        });
        $("#saveuseradd").click(function () {
            if ($("#userName").val() != "" && $("#userUserName").val() != "") {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("save_user","Master")",
                    data: { userId: $("#userId1").val(), userName: $("#userName").val(), userUserName: $("#userUserName").val(), userDesc: $("#userDesc").val() },
                    success: function (data) {
                        if (data == "1") {
                            $("#canceluseradd").click();
                            swal({
                                title: "Success!",
                                text: "Your data has been saved.",
                                type: "success"
                            }, function () {
                                window.location = '/Master/Master_User';
                            });
                        }
                        else {
                            swal("Failed!", "Username already exists!", "error");
                        }
                    },
                    error: function (xhr, status, error) {
                        alert(xhr.responseText);
                    }
                });
                return false;
            }
        });
    });
</script>