@{
    String concat_title = "";
    using (var db = new dbsmsEntities())
    {
        try
        {
            concat_title = db.projects.Find(Convert.ToInt64(Session["project"] ?? 0)).name;
        }
        catch { }
    }
    ViewBag.Title = "Receive Item - " + concat_title ?? "";
    System.Globalization.CultureInfo indonesia = new System.Globalization.CultureInfo("id-ID");
}

<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="box box-default panel-body">
            <label>List of Receive Item</label>
            <table id="myTable" class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th class="col-md-2 text-center">Receipt No</th>
                        <th class="col-md-2 text-center">PO No</th>
                        <th class="col-md-2 text-center">Receive Date</th>
                        <th class="col-md-2 text-center">Supplier</th>
                        <th class="col-md-2 text-center">Description</th>
                        <th class="col-md-2 text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{ 
                        using (var db = new dbsmsEntities())
                        {
                            foreach(hreceiveitem ri in db.projects.Find(Convert.ToInt64(Session["project"])).hreceiveitems.ToList())
                            {
                                <tr>
                                    <td>@ri.number</td>
                                    <td>@ri.hpo.number</td>
                                    <td>@ri.date.ToString("dd MMMM yyyy")</td>
                                    <td>@ri.supplier.name</td>
                                    <td>@ri.description</td>
                                    <td>
                                        <a href="ReceiveItem/History?id=@ri.id">
                                                <button type="button" style="margin-left:33%" class="btn btn-info col-md-3 btn_detail" >Detail</button>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
@if (AdminLTE1.Helpers.GlobalFunction.has_privilege(Session["user"].ToString(), "insert", "receive_item"))
{
            <div class="col-md-12"><a href="ReceiveItem/Transaksi"><button id="btnAdd" class="btn btn-success col-md-1 pull-right">Add</button></a></div>
}
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            "bPaginate": false
        });
    });
</script>
