@{
    ViewBag.Title = "Active Project";
}
<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="box box-default panel-body">
            <table id="mytableactiveproj" class="table table-hover table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="hidden">Id</th>
                        <th class="text-center">Customer</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Project</th>
                        <th class="text-center">Description</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th class="hidden">Id</th>
                        <th class="text-center">Customer</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Project</th>
                        <th class="text-center">Description</th>
                        <th class="text-center">Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    @{ 
                        using (var db = new dbsmsEntities())
                        {
                            List<AdminLTE1.Helpers.ActiveProject> projects = new List<AdminLTE1.Helpers.ActiveProject>();
                            List<hrfq> data = (from r in db.hrfqs
                                               where r.project.status == 0
                                               select r).ToList();
                            foreach (hrfq item in data)
                            {
                                try
                                {
                                    projects.Add(new AdminLTE1.Helpers.ActiveProject(0, item.projectid, item.project.name, item.project.customer.name, "RFQ", item.project.description, "RFQ"));
                                }
                                catch (Exception e) {
                                }
                            }

                            List<project> data1 = (from r in db.projects
                                                   where r.status == 0 && r.status1.findprices == 1
                                                   select r).ToList();
                            foreach (project item in data1)
                            {
                                try {
                                    projects.Add(new AdminLTE1.Helpers.ActiveProject(0, item.id, item.name, item.customer.name, "Find Price", item.description, "FindPrices"));
                                }
                                catch (Exception e) { }
                            }

                            List<hpenawaran> data2 = (from r in db.hpenawarans
                                                      where r.project.status == 0
                                                      select r).ToList();
                            foreach (hpenawaran item in data2)
                            {
                                try {
                                    projects.Add(new AdminLTE1.Helpers.ActiveProject(0, item.projectid, item.project.name, item.project.customer.name, "Penawaran", item.project.description, "Penawaran"));
                                }
                                catch (Exception e) { }
                            }

                            List<hsalesorder> data3 = (from r in db.hsalesorders
                                                       where r.project.status == 0
                                                       select r).ToList();
                            foreach (hsalesorder item in data3)
                            {
                                try {
                                    projects.Add(new AdminLTE1.Helpers.ActiveProject(0, item.projectid, item.project.name, item.project.customer.name, "Sales Order", item.project.description, "SalesOrder"));
                                }
                                catch (Exception e) { }
                            }

                            List<project> data4 = (from r in db.projects
                                                   where r.status == 0 && r.status1.purchaseorder == 1
                                                   select r).ToList();
                            foreach (project item in data4)
                            {
                                try {
                                    projects.Add(new AdminLTE1.Helpers.ActiveProject(0, item.id, item.name, item.customer.name, "Purchase Order", item.description, "PurchaseOrder"));
                                }
                                catch (Exception e) { }
                            }

                            List<project> data5 = (from r in db.projects
                                                   where r.status == 0 && r.status1.purchaseinvoice == 1
                                                   select r).ToList();
                            foreach (project item in data5)
                            {
                                try {
                                    projects.Add(new AdminLTE1.Helpers.ActiveProject(0, item.id, item.name, item.customer.name, "Purchase Invoice", item.description, "PurchaseInvoice"));
                                }
                                catch (Exception e) { }
                            }

                            List<project> data6 = (from r in db.projects
                                                   where r.status == 0 && r.status1.purchasepayment == 1
                                                   select r).ToList();
                            foreach (project item in data6)
                            {
                                try {
                                    projects.Add(new AdminLTE1.Helpers.ActiveProject(0, item.id, item.name, item.customer.name, "Purchase Payment", item.description, "PurchasePayment"));
                                }
                                catch (Exception e) { }
                            }

                            List<project> data7 = (from r in db.projects
                                                   where r.status == 0 && r.status1.receiveitem == 1
                                                   select r).ToList();
                            foreach (project item in data7)
                            {
                                try {
                                    projects.Add(new AdminLTE1.Helpers.ActiveProject(0, item.id, item.name, item.customer.name, "Receive Item", item.description, "ReceiveItem"));
                                }
                                catch (Exception e) { }
                            }

                            List<project> data8 = (from r in db.projects
                                                   where r.status == 0 && r.status1.suratjalan == 1
                                                   select r).ToList();
                            foreach (project item in data8)
                            {
                                try {
                                    projects.Add(new AdminLTE1.Helpers.ActiveProject(0, item.id, item.name, item.customer.name, "Surat Jalan", item.description, "SuratJalan"));
                                }
                                catch (Exception e) { }
                            }

                            List<project> data9 = (from r in db.projects
                                                   where r.status == 0 && r.status1.salesinvoice == 1
                                                   select r).ToList();
                            foreach (project item in data9)
                            {
                                try {
                                    projects.Add(new AdminLTE1.Helpers.ActiveProject(0, item.id, item.name, item.customer.name, "Sales Invoice", item.description, "SalesInvoice"));
                                }
                                catch (Exception e) { }
                            }

                            List<project> data10 = (from r in db.projects
                                                   where r.status == 0 && r.status1.salespayment == 1
                                                   select r).ToList();
                            foreach (project item in data10)
                            {
                                try {
                                    projects.Add(new AdminLTE1.Helpers.ActiveProject(0, item.id, item.name, item.customer.name, "Sales Payment", item.description, "SalesPayment"));
                                }
                                catch (Exception e) { }
                            }

                            foreach (AdminLTE1.Helpers.ActiveProject item in projects)
                            {
                                <tr>
                                    <td class="hidden">@item.projectid</td>
                                    <td>@item.customername</td>
                                    <td>@item.status</td>
                                    <td>@item.project</td>
                                    <td>@item.desc</td>
                                    <td class="text-center"><a href="@Url.Action("move","Project")?controller=@item.link&projid=@item.projectid&id=@item.id"><button type="button" class="btn btn-info">Detail</button></a></td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#mytableactiveproj').DataTable({
            "columnDefs": [
                { "visible": false, "targets": 2 }
            ],
            "aaSorting": [],
            "bPaginate": false,
            "drawCallback": function (settings) {
                var api = this.api();
                var rows = api.rows({ page: 'current' }).nodes();
                var last = null;

                api.column(2, { page: 'current' }).data().each(function (group, i) {
                    if (last !== group) {
                        $(rows).eq(i).before(
                            '<tr class="group text-bold"><td colspan="4">' + group + '</td></tr>'
                        );

                        last = group;
                    }
                });
            }
        });
    });
</script>